body {
    background: blueviolet;
    color: gold;
}

#title {
    text-align: center;
}

.rules {
    text-align: center;
}

ul {
    display: inline;
}

#image {
    display: flex;
    position: relative;
    justify-items: center;
    right: -325px;
}

button {
    position: relative;
    width: 100px;
    right: -660px;
    background: greenyellow;
    color: purple;
}

#output {
    text-align: center;
    color: gold;
}